    .producto-bloque{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding:10px;
      box-sizing: border-box;  
      border:0;
      a{
        color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      .producto-imagen{
        background-color: #ebeef0;
        display: block;
        img{
          width: 100%;
        }
      }
      .producto-nombre{
        display: block;
        font-weight: 900;
        font-size: 16px;
        margin-top: 10px;
      }
      .producto-precio{
          color: #606060;
          font-size: 12px;
          font-weight: 500;
        span{
          color: #ff5500;
          font-weight: 900;
          font-size: 16px;
        }
      }
      button.boton-comprar{
        display: block;
        background-color: black;
        color:white;
        padding:10px;
        margin-top: 10px;
        text-transform: uppercase;
        border:0;
        font-weight: 900;
        font-size: 10px;
        width: 100%;
        &:hover{
          background-color: #ff5500
        }
      }
    }
  }