.cart-container{
  width: 90%;
  max-width: 1080px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 50px;
  gap:50px;
  .cart-left{
    width: 60%;
    text-align: left;
    .cart-header{
      .cart-container-title{
          font-size: 3.5rem;
          line-height: 3.5rem;
          font-weight: bold;
          margin-bottom: 1rem;
          display: block;
          text-align: left;
      }
      .cart-container-subtitle{
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: bold;
          color:#ff5500;
          margin-bottom: 1rem;
          display: block;
          text-align: left;
      }
      .cart-container-legal{
        display: block;
        background-color: #aeaeae;
        color:#606060;
        font-weight: 300;
        font-size: 1rem;
        box-sizing: border-box;
        padding: 10px 50px;
      }
  }
  .cart-items-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin-top:20px;
      .card{
        display: block;
        border:1px solid #606060;
        .cart-product{
          display: flex;
          flex-direction: row;
          gap:30px;
            .cart-product-image{
              display: block;
              background-color: #ebeef0;
              width: 40%;
              img{
                width: 100%;
              }
            }
            .cart-product-info{
              width: 60%;
              box-sizing: border-box;
              padding-top:30px;
              .cart-product-name{
                display: block;
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 900;
                color:#ff5500;
              }
              .cart-product-price{
                display: block;
              }
              .cart-product-quantity{
                display: block;
              }
              .boton-quitar{
                background-color: #606060;
                color:white;
                padding: 5px;
                display: inline-block;
                box-sizing: border-box;
                cursor: pointer;
              }
            }
        }
      }
   }
}
  .cart-right{
    width: 40%;
    height: 300px;
    form{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .campo-formulario{
        background-color: #fff;
        border: 0;
        padding: 10px 10px;
        box-sizing: border-box;
        color: #8d8d8d;
        border-radius: 3px;
        text-align: left;
        width: 100%;
        border: 1px solid #e5e5e5;
      }
      .finalizar-compra{
        background-color: black;
        color:white;
        display: inline-block;
        padding:10px;
        font-size: 1rem;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        border:0px;
        &:hover{
          background-color: #ff5500;
        }
      }
    }
    .quitar-carrito{
      background-color: #838383;
      color:white;
      display: inline-block;
      padding:7px;
      font-size: 0.8rem;
      display: inline-block;
      margin-top:10px;
      cursor: pointer;
      &:hover{
        background-color: #ff5500;
        cursor: pointer;
      }
    }
  }
}

.cart-empty{
  display: block;
  color:#ff5500;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  text-transform: uppercase;
  
  
a{
  display: block;
  width: 300px;
  margin:0 auto;
  margin-top: 10px;
  background-color: black;
  color:white;
  cursor: pointer;
  padding:10px;
  font-size: 1rem;
  &:hover{
    background-color: #ff5500;
  }
}}

